[Unit]
Description=Gunicorn instance to serve Nexa website
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/html/nexa/app
Environment="PATH=/var/www/html/nexa/app/venv/bin"
Environment="PYTHONPATH=/var/www/html/nexa/app"
Environment="FLASK_APP=app.py"
Environment="FLASK_ENV=production"
ExecStart=/var/www/html/nexa/app/venv/bin/gunicorn --workers 3 --bind unix:/var/www/html/nexa/app/nexa.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
